* {
    font-family: 'Roboto', sans-serif;
}

.project__title {
    text-align: center;
}

/* Albums carousel */
.albums__visual {
    display: flex;
    justify-content: space-evenly;
}

.albums__individual {
    box-shadow: 2px 2px 5px 2px #dddddd;
    padding: 1.5rem 2rem;
    background: white;
    height: 21.5rem;
    width: auto;
    overflow-wrap: break-word;
}

.albums__individual img {
    display: block;
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    margin: 0 auto;
}

.albums__individual .album__name {
    font-size: 1.5rem;
    color: #00698C;
    margin-bottom: 0.5rem;
    text-align: center;
}

.albums__individual .artist__name {
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    color: black;
}


.albums__individual.albums__individual-main {
    position: relative;
    z-index: 10;
    transform: translate(0, 6rem);
    background-color: #0085B2;
    box-shadow: none;
    transition-property: background-color, box-shadow, color, translate;
    transition-duration: 0.5s;
}

.albums__individual-right-of-main {
    position: relative;
    z-index: 5;
    transform: translate(-5rem, 3rem);
    transition: translate 0.5s;
}

.albums__individual-left-of-main {
    position: relative;
    z-index: 5;
    transform: translate(5rem, 3rem);
    transition: translate 0.5s, box-shadow 0.5s;
}

.albums__individual-left-end {
    transform: translate(10rem, 0);
    transition: translate 0.5s;
}

.albums__individual-right-end {
    transform: translate(-10rem, 0);
    transition: translate 0.5s;
}

.albums__individual-main .album__name,
.albums__individual-main .artist__name {
    color: white;
    transition: color 0.5s;
}

/* Album arrows */
.previous__arrow--hover svg,
.next__arrow--hover svg {
    fill: white;
}

.previous__arrow--hover,
.next__arrow--hover {
    background-color: #0085B2;
    border-color: #0085B2;
}

.previous__arrow--down,
.next__arrow--down {
    background-color: #00698C;
    border-color: #00698C;
}

.previous__arrow--down svg
.next__arrow--down svg {
    fill: #00698C;
}

/* Songlist */ 
.lower-body__container {
    width: 75%;
    margin: 0 auto;
    padding: 0 1rem 2rem;
}

.collapse__content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s;
}

.album__selected--songlist {
    overflow: visible;
    max-height: none;
    list-style: none;
}

.collapse__content--active {
    list-style: none;
    box-shadow: 0 0 10px 3px #dddddd;
}

.album__selected--songlist ul,
.collapse__content ul {
    padding: 0;
    margin: 0;
}

.songlist__individual {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    background-color: #f3f6f7;
    border-bottom: 2px solid #dfe1e2;
    color: #0085B2;
    font-size: 1.25rem;
    font-weight: bolder;
    letter-spacing: 0.05rem;
    transition: background-color 0.5s, color 0.5s;
}

.songlist__individual--hover {
    background-color: #0085B2;
}

.songlist__individual > div {
    display: flex;
    align-items: center;
}

.songlist__individual > div > * {
    margin: 0 1rem;
}

.album__track--number {
    padding: 0.25rem 0.5rem;
    background-color: #90B9C9;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 0.1rem;
}

/* favorite star design */
.song__favorite--popup {
    height: 0;
    opacity: 0;
    font-size: 0.8rem;
    font-weight: normal;
    color: white;
    background-color: #BBBBBB;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: -1.25rem;
    left: 4rem;
    transition: opacity 0.5s;
}

.song__favorite--popup-hover {
    height: auto;
    opacity: 1;
}

.song__favorite--popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #BBBBBB transparent transparent transparent;
}

.song__favorite--select {
    height: 30px;
    width: 30px;
    filter: invert(77%) sepia(62%) saturate(0%) hue-rotate(28deg) brightness(102%) contrast(99%);
}

.song__favorite--selected {
    filter: invert(86%) sepia(91%) saturate(7468%) 
    hue-rotate(359deg) brightness(83%) contrast(109%) !important;
}

.song__favorite--select-hover {
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(84deg) brightness(107%) contrast(101%);
}

/* Song name */
.album__song--name-hover {
    color: white;
}

/* Song categories */
.album__song--categories span {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-right: 0.5rem;
    color: black;
    font-size: 1rem;
    background-color: #DDDDDD;
    letter-spacing: 0.05rem;
}

.songlist__individual .album__song--categories-hover {
    color: white;
    background-color: #90B9C9;
}

/* song duration */
.album__song--time {
    color: black;
    position: relative;
    right: 3rem;
}

.album__song--time-hover {
    color: white;
}

@media screen and (max-width: 965px) {
    html, body {
        width: 889px;
    }

    .lower-body__container {
        min-width: 712px;
    }
}