* {
    font-family: 'Roboto', sans-serif;
}

.project__title {
    text-align: center;
}

/*
Albums carousel
*/
.albums__visual {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.albums__individual {
    box-shadow: 2px 2px 5px 2px #dddddd;
    padding: 1rem 2rem;
    background: white;
}

.albums__individual img {
    height: 200px;
    width: 200px;
}

.albums__individual .album__name {
    font-size: 1.5rem;
    color: #00698C;
    text-align: center;
}

.albums__individual .artist__name {
    font-size: 1.5rem;
    text-align: center;
}

.albums__individual-1 {
    position: relative;
    z-index: 0;
    left: 10rem;
}

.albums__individual-2 {
    position: relative;
    z-index: 5;
    top: 3rem;
    left: 5rem;
}

.albums__individual-3 {
    position: relative;
    z-index: 10;
    top: 6rem;
    background-color: #0085B2;
    box-shadow: none;
}

.albums__individual-4 {
    position: relative;
    z-index: 5;
    top: 3rem;
    right: 5rem;
}

.albums__individual-5 {
    position: relative;
    z-index: 0;
    right: 10rem;
}

.albums__individual-3 .album__name,
.albums__individual-3 .artist__name {
    color: white;
}



/* Songlist */ 
.lower-body__container {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
    margin-top: 6rem;
}

.album__selected--songlist {
    flex-grow: 0.5;
    list-style: none;
    box-shadow: 0 0 10px 3px #dddddd;
}

.album__selected--songlist ul {
    padding: 0;
    margin: 0;
}

.songlist__individual {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    background-color: #f3f6f7;
    border-bottom: 2px solid #dfe1e2;
    color: #0085B2;
    font-size: 1.25rem;
    font-weight: bolder;
    letter-spacing: 0.05rem;
    transition: background-color 0.5s, color 0.5s;
}

.songlist__individual--hover {
    background-color: #0085B2;
}

.songlist__individual > div {
    display: flex;
    align-items: center;
}

.songlist__individual > div > * {
    margin: 0 1rem;
}

.album__track--number {
    padding: 0.25rem 0.5rem;
    background-color: #90B9C9;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    border-radius: 0.1rem;
}

.song__favorite--popup {
    height: 0;
    opacity: 0;
    font-size: 0.8rem;
    font-weight: normal;
    color: white;
    background-color: #BBBBBB;
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    top: -1.25rem;
    left: 4rem;
    transition: opacity 0.5s;
}

.song__favorite--popup-hover {
    height: auto;
    opacity: 1;
}

.song__favorite--popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 20%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #BBBBBB transparent transparent transparent;
}

.song__favorite--select {
    height: 30px;
    width: 30px;
    filter: invert(77%) sepia(62%) saturate(0%) hue-rotate(28deg) brightness(102%) contrast(99%);
}

.song__favorite--selected {
    filter: invert(86%) sepia(91%) saturate(7468%) 
    hue-rotate(359deg) brightness(83%) contrast(109%) !important;
}

.song__favorite--select-hover {
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(84deg) brightness(107%) contrast(101%);
}

.album__song--name-hover {
    color: white;
}

.album__song--categories span {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    margin-right: 0.5rem;
    color: black;
    font-size: 1rem;
    background-color: #DDDDDD;
    letter-spacing: 0.05rem;
}

.songlist__individual .album__song--categories-hover {
    color: white;
    background-color: #90B9C9;
}

.album__song--time {
    color: black;
    position: relative;
    right: 3rem;
}

.album__song--time-hover {
    color: white;
}